# Gate API 凭证
BASE_URL=https://api.gateio.ws
GATE_API_KEY=GATE_API_KEY
GATE_API_SECRET=GATE_API_SECRET
# 每张 BTC 合约面值（单位：BTC）
BTC_PAR = 0.0001
FEE_RATE=0.001

# MySQL 数据库配置
MYSQL_USER=root
MYSQL_PASSWORD=MYSQL_PASSWORD
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=quant
TABLE_NAME=trades

